{% extends 'main.html' %}

{% block content %}
<h1 class="display-6">All Incoming Messages</h1>
{% if all_messages %}
<ul>
    {% for message in all_messages %}
       <li >
        <a href="{% url 'message' message.id %}" class="d-flex flex-row">
            <p>{{message}} </p>
            <p class="ml-2">{{message.sender}}</p>
            <p class="ml-5">{{message.created}}</p>
            </a>
       </li>
    {% endfor %}
</ul>
{% else %}
<p>Your incoming messages will be displayed here!</p>
{% endif %}
{% endblock content %}